<nav>
  <ul>
    <li class="nav-link"><%= link_to "Home", root_path %></li>
    <% if user_signed_in? %>
      <li class="nav-link"><%= link_to "My Crawlers", user_crawlers_path(current_user)%></li>
      <li class="nav-link"><%= link_to "My Profile", user_path(current_user)%></li>
      <li class="nav-link"><%= button_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class="nav-link"><%= link_to "Sign up", new_user_registration_path %></li>
      <li class="nav-link"><%= link_to "Login", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
